/*Standard settings to normalize document from the start */

/* Normalizes margin, padding */


/* Removes list-style from lists */
#button ol, #button ul {
	list-style:none;
	margin:0;
	padding:0;
}

/* #3. Button placement */
div#button{
	position:relative;
	margin-top:0px;
	margin-left:0px;
}

div#images{
	width:400px;
	height:300px;
	overflow:hidden;
	border:1px #c5c5c5 solid;
}

/* #3. Navigation buttons to the left of disjointed images */
div#button li{
	display:inline;
}

/* #3. Make the Buttons Clickable */
li#one a, li#two a, li#three a, li#four a{
	width:99px;
	height:64px;
}
/*stuff added by David Su */

#left{ /*currently contains the fatsecret2 page left */
	float: left;
	width: 700px;
}
#right{
	width: 350px;
	float: right;
}

/* root element for tabs  */
ul.css-tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}

/* single tab */
ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.css-tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
}

ul.css-tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.css-tabs a.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.css-panes div {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	min-height:150px;
	padding:15px 20px;
	background-color:#ddd;	
}


/*second tab ------------------------------------*/
/* root element for tabs  */

ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #666;	
	height:30px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(/tools/img/tabs/blue.png) no-repeat -420px 0;
	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 134px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;	
	color:#fff;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;		
	cursor:default !important; 
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }

/* right floating panel for fat secret page 
-------------------------------------------------------*/
/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

#cart .ui-widget-header, .ui-widget-header1 { 
	font-size: 16px; 
	color: #ffffff !important; 
	padding: 5px; margin: 0; 
	background: #54b4c8 !important; 
	border: 0px !important;
}
#cart .ui-widget-header1 { 
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	-moz-border-top-left-radius: 10px !important;
	-moz-border-top-right-radius: 10px !important;
}
#content { 
	height: 300px; 
}
#products { 
	float:right; 
	width: 500px; 
	margin-right: 2em; 
}
#cart { 
	width: 200px !important;
	position:fixed;
	float:right;
	border: 1px solid #aaaaaa;
	border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-moz-box-shadow: 3px 3px 4px #aaaaaa;
	-webkit-box-shadow: 3px 3px 4px #aaaaaa;
	box-shadow: 3px 3px 4px #aaaaaa;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
}
.ui-widget-content, .ui-state-default, .ui-state-hover {
	border: 0px !important;
	padding-right: 10px;
	background: transparent !important;
	}
#right { 
	float: right;
	width:200px; 
	}
/* style the list to maximize the droppable hitarea */
#cart ol { margin: 0; padding: 1em 0 1em 3em;}
.change_serving {width: 250px;}
*html #cart {
    position: absolute;
    left: expression( ( 0   ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) )   'px' );
    top: expression( ( 0   ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) )   'px' );
}

/* weightlog
-------------------------------------------------------*/
.scroll-pane { 
	overflow: auto; 
	width: 70%; 
	float:left; 
	background: transparent;
	border-radius: 6px;
	-moz-border-radius: 6px; 
}
.scroll-pane input {
	width: 40px !important;
	height: 40px !important;
	border-radius: 6px;
	-moz-border-radius: 6px; 
}
.scroll-content { 
	width: 1600px; 
	float: left; 
}
.scroll-content-item { 
	color: #666666;
	width: 80px; 
	height: 80px; 
	float: left; 
	margin: 5px; 
	font-size: 1em; 
	line-height: 0px; 
	background: #85d890;
	padding: 5px;
	border: 1px solid #aaaaaa;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-moz-box-shadow: 3px 3px 4px #aaaaaa;
	-webkit-box-shadow: 3px 3px 4px #aaaaaa;
	box-shadow: 3px 3px 4px #aaaaaa;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
}
* html .scroll-content-item { 
	display: inline; 
} /* IE6 float double margin bug */
.scroll-bar-wrap { 
	clear: left; 
	padding: 0 4px 0 2px; 
	margin: 0 -1px -1px -1px;
}
.scroll-bar-wrap .ui-slider { 
	background: transparent !important; 
	border: 0; 
	height: 2em; 
	margin: 0 auto;  
}
.scroll-bar-wrap .ui-handle-helper-parent { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
}
.scroll-bar-wrap .ui-slider-handle { 
	top:.2em; 
	height: 1.5em; 
	border: 1px solid #aaaaaa !important;
}
.scroll-bar-wrap .ui-slider-handle .ui-icon { 
	margin: -8px auto 0; 
	position: relative; 
	top: 50%; 
}
#weight-log-sidebar { 
	float: right; 
	width: 200px;
}
#ui-datepicker-div { 
	background: #ffffff !important;
	border: 1px solid #aaaaaa !important;
	border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-moz-box-shadow: 3px 3px 4px #aaaaaa;
	-webkit-box-shadow: 3px 3px 4px #aaaaaa;
	box-shadow: 3px 3px 4px #aaaaaa;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
	}
.ui-datepicker-header {
	margin-left: 10px;
	background: transparent !important;
	border: 0 !important;
	}