/* colors 
#666666 (dark grey) - main text color
#589c24 (green) - background and links
#8dd231 (light-green) - calendar
#eaed48 (yellow) - hover link and button background
#dd0000 (dark red) - italics
#000000 (black) - bold
#ee8804 (orange) - headings
-----------------------*/

/* containers
-----------------------*/
body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font: 12px Arial;
	/*background: url('../images/backgroundstrip.png') repeat-x top left;*/
	background: #8dd231;
}
#page {
	margin: 0 auto;
	padding: 0;
	width: 975px;
	text-align: justify;
	background: #fff;
	-moz-box-shadow: 0 0 10px #4f7135;
	-webkit-box-shadow: 0 0 10px #4f7135;
	box-shadow: 0 0 10px #4f7135;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#headerimg {
	background: url('/images/header.png') no-repeat top left;
	height: 90px;
	margin: auto;
	padding: 10px 30px 0 0;
}
#foodie {
	display: inline-block;
	width: 170px;
	height: 82px;
	margin-top: -5px;
	background: transparent;
	float: left;
}
#login {
	float: right;
}
#login label {
	color: #000;
}
#username , #password {
	width: 110px;
}
#content {
	margin: 10px 0 0 0;
	min-height: 600px;
	padding: 0 10px 0 10px;
} 
#sidebar{
	width: 180px;
	float: left; 
	padding: 20px 0 0 25px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#cccccc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cccccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #efefef,  #cccccc); /* for firefox 3.6+ */ 
	-moz-box-shadow: 0 0 10px #666666;
	-webkit-box-shadow: 0 0 10px #666666;
	box-shadow: 0 0 10px #666666;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#main_content {
	float: right;
	width: 730px;
}
#footer {
	margin: 0 0 15px 0;
	padding: 10px 10px 20px 10px;
	clear: both;
	text-align: center;
}
/* text changes
--------------------*/
strong, b {
	color: #000000;
}
em, i {
	color: #dd0000;
}
/* headings
--------------------*/
h1 { /* main headings */
}
h2 { /* sidebar headings */
	font-size: 14px;
	letter-spacing: 1px;
	color: #ee8804;
	padding: 20px 0 0 20px;
	margin: 0 0 5px 0;
}
h3 { /* Content headings */
	font-size: 20px;
	letter-spacing: 5px;
	color: #ee8804;
	margin: 0 0 20px 0;
}
.first {
	margin: 0;
}
h4 { /* Content subheadings */
	font-size: 16px;
	letter-spacing: 3px;
	border-bottom: 1px solid #666666;
	margin: 10px 0 5px 0;
	padding: 0 0 0 20px;
}
/* roll over images on front page
-----------------------------------*/
/* Removes list-style from lists */
#button ol, #button ul {
	list-style:none;
	margin:0;
	padding:0;
}

/* #3. Button placement */
div#button{
	position:relative;
	margin-top:0px;
	margin-left:0px;
}

div#images{
	width: 910px;
	height: 305px;
	overflow:hidden;
	border:1px #c5c5c5 solid;
	margin: 10px 0;
}

/* #3. Navigation buttons to the left of disjointed images */
div#button li{
	display:inline;
}

/* #3. Make the Buttons Clickable */
li#one a, li#two a, li#three a, li#four a{
	width:99px;
	height:64px;
}
#images img {
	padding: 5px;
	width: 900px;
}
.thumbs img {
	margin: 10px 0 0 10px;
	border: solid 1px #ccc;
	padding: 5px;
}
.thumbs a:hover {
	background-color: transparent;
}
/* links
-------------------*/
a {
	/*color: #7bd788;*/
	color: #068a2e;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	background-color: #eaed48;
}
#navi a {
	color: #ffffff;
}
#navi a:hover {
	color: #eaed48;
	background-color: transparent;
	}
#nutrition , #workout , #body {
	display: block;
	width: 150px;
	height: 50px;
	padding-left: 50px;
	padding-top: 15px;
	}
#nutrition:hover, #workout:hover, #body:hover {
	color: #000000;
}
#nutrition {
	color: #de5d33;
	background: url('/images/nutrition.png') no-repeat top left;
}
#workout {
	color: #b657c1;
	background: url('/images/workout.png') no-repeat top left;
}
#body {
	color: #85c7ff;
	background: url('/images/body.png') no-repeat top left;
}
/* navi dropdown menu
------------------*/
#navbar {
	float: right;
	font: 14px Sans-serif; 
	z-index: 3;
}
#navbar a {
	font: 16px;
	color: #000000;
	padding: 5px;
	margin: 0 0 0 5px;
	display: inline-block;
}
#navbar a:hover{
	color: #ffffff;
	background-color: #000000;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
#navbar li {
	list-style: none;
	float: left; }
#navbar li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
}
	
#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
#navbar li:hover li {
	float: none; }
#navbar li:hover li a {
	background-color: transparent;
	border-bottom: 1px solid #fff;
	color: #fff; }
#navbar li li a:hover {
	background-color: #8db3ff; }

/* forms
------------------*/
input, textarea {
	border: 1px solid #589c24;
	background: transparent;
	margin: 5px;
}
input:focus {
	background: #ffffff;
}
.img{
	border: none;
}
#submissions {
	padding: 10px;
}
#submissions a {
	padding: 5px;
	background: #589c24;
	color: #ffffff;
	font-weight: bold;
}
#submit {
	background: #589c24;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#submit:focus , #submit:hover, #submissions a:hover{
	background: #eaed48;
	color: #589c24;
}
.d1 {
	background: #7bd788;
	padding: 10px;
	margin: 10px 0;
	color: #000000;
}
.d0 {
	background: #54b4c8;
	padding: 10px;
	margin: 10px 0;
	color: #000000;
}

